# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# Data
data/processed/
*.parquet

# Streamlit
.streamlit/

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Build
dist/
build/
*.egg-info/
